# Benoît Fontaine
Linekio <benoitfontaine.ba@gmail.com> Benoît Fontaine <benoitfontaine.ba@gmail.com>
Linekio <benoitfontaine.ba@gmail.com> Linekio <benoitfontaine.ba@gmail.com>
Linekio <benoitfontaine.ba@gmail.com> <benoit.fontaine@acft.fr>
Linekio <benoitfontaine.ba@gmail.com> <benoit.fontaine@siqual.fr>
Linekio <benoitfontaine.ba@gmail.com> <benoitfontaine@phytocontrol.com>
Linekio <benoitfontaine.ba@gmail.com> linek <benoitfontaine.ba@gmail.com>
Linekio <benoitfontaine.ba@gmail.com> Benoît <benoitfontaine.ba@gmail.com>
Linekio <benoitfontaine.ba@gmail.com> benoit-phytocontrol <benoitfontaine@phytocontrol.com>

# Adriaan Joubert
adriaanjoubert <adriaan@joubert.xyz> <45142747+adriaanjoubert@users.noreply.github.com>
adriaanjoubert <adriaan@joubert.xyz> Adriaan Joubert <adriaan@joubert.xyz>

# Fred Wright
fhgwright <fw@fwright.net> Fred Wright <fw@fwright.net>

# Melroy van den Berg
melroy89 <melroy@melroy.org> Melroy van den Berg <melroy@melroy.org>

# Giulio Genovese
a2800276 <giulio.genovese@gmail.com> Giulio Genovese <giulio.genovese@gmail.com>

# Tim Becker
freeseek <tim@presseverykey.com> Tim Becker <tim@presseverykey.com>

# Jadson Matos
jadsongmatos <jadson.g-matos@outlook.com> jadsongmatos <jadson.g-matos@outlook.com>

# Clean IDs (easy mappings_)
changeling <cklarson@gmail.com>
bsudy <barnabas.sudy@gmail.com>
gamesguru <chown_tee@proton.me>
josemando <josemando@gmail.com>
sebdu66 <52951441+sebdu66@users.noreply.github.com>
